# Ignore Python virtual environments
venv/
env/
.env/
__pycache__/

# Ignore PyTorch model weights and checkpoints
*.pt
*.onnx

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore logs
logs/

# Ignore temporary files
*.tmp
*.log
*.swp
*.json
*.jsonl

# Ignore db files
*.db

# Ignore uploaded & model inferenced files
json/
json_raw/
uploads/
output/